## 1) Import the required packages

In [1]:
import numpy as np
import pandas as pd
import os
import glob

In [2]:
# Traverse to the directory
%cd D:\IBM_B2B_C_Onboarding\Data

D:\IBM_B2B_C_Onboarding\Data

In [3]:
ls

 Volume in drive D is Data Disk
 Volume Serial Number is 88DD-3302

 Directory of D:\IBM_B2B_C_Onboarding\Data

12/16/2022  10:24 AM    <DIR>          .
12/09/2022  06:33 PM    <DIR>          ..
12/14/2022  10:38 AM    <DIR>          .idea
12/13/2022  10:20 AM    <DIR>          .ipynb_checkpoints
12/14/2022  07:12 PM    <DIR>          __pycache__
11/21/2022  08:00 PM             2,647 4606_MIM_Primary_Spec.csv
11/21/2022  08:00 PM             1,898 4608_POOIM_Primary_Spec.csv
12/16/2022  10:24 AM        34,035,232 AI-ML_Consolidated_Training_File.xlsx
11/22/2022  10:16 AM             1,260 cleaned_text.txt
12/08/2022  12:31 PM    <DIR>          Editable_PDF_Pipeline
12/08/2022  12:48 PM    <DIR>          env
12/12/2022  04:26 PM         1,695,437 Extract_PDF_Links_GFK_data.ipynb
11/16/2022  05:32 PM            10,176 get_pdf_links_from_gfk_excels.ipynb
12/15/2022  11:00 AM    <DIR>          GFK_Data
12/02/2022  10:54 AM            62,329 GFK_Data_PDF_Links.xlsx
12/08/2022  01:12 PM    <DIR>          GFK_PDF
12/08/2022  01:12 PM    <DIR>          GFK_Text
12/08/2022  01:23 PM    <DIR>          Logistic_Regression
12/16/2022  02:33 PM    <DIR>          mapping_codes
12/15/2022  11:08 AM    <DIR>          New_GFK_Training_Files
11/16/2022  05:45 PM             3,272 read_excel.py
12/15/2022  04:43 PM            12,850 Repetitive_Keywords.xlsx
11/24/2022  10:41 AM        17,961,554 Training_Data_Class_2.zip
12/08/2022  01:23 PM    <DIR>          Training_Data_Class_2_Prohibited
12/08/2022  07:49 PM    <DIR>          Training_Data_Class_3
              10 File(s)     53,786,655 bytes
              15 Dir(s)  198,619,705,344 bytes free

## 2) Load the Original Training file

In [4]:
# Training Data Consolidated
df_training_file1=pd.read_excel("AI-ML_Consolidated_Training_File.xlsx",sheet_name='Training Data Consolidated',header=0)
display(df_training_file1)

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,Kim Crawford,NaN,Sauvignon Blanc,Kim Crawford produces one of Marlborough’s ben...,NaN,50202203.0,Color: Very pale yellow,Aroma: Classic Marlborough Sauvignon Blanc aro...,"Taste: A fresh, juicy wine with vibrant acidit...",New Zealand,Pairings: Pairs brilliantly with fresh oyster...,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
1,Meiomi,NaN,Meiomi Pinot Noir,Meiomi Pinot Noir Red Wine offers unique struc...,Red Wine,50202203.0,Color: Red,Style: Elegant,"Taste: Cherry, Berry, Vanilla","USA, California",NaN,ABV 14.6%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
2,Stone,NaN,Stone Hazy IPA,California- Hazy/New England-Style IPA. bloomi...,"IPA (India Pale Ale), Hazy,New England-Style IPA",50202201.0,NaN,Beer Type: Ale,NaN,"USA, California",NaN,ABV 6.7%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Beer
3,Bulleit,NaN,Bulleit Bourbon,Bulleit Bourbon is inspired by the whiskey tha...,"Bourbon, Whisky",50202206.0,NaN,Spirits Style: Small Batch Bourbon,Taste: Vanilla and honey and a long smoky finish.,"USA, Kentucky",NaN,ABV 45 %,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky
4,Jim Beam,NaN,Jim Beam Black (black label),"Jim Beam Black (black label) – ""extra aged""; w...","Bourbon, Whisky",50202206.0,Color: Amber,NaN,Taste: Charred oak flavor and caramelized sugar,American whiskey,Pairings: Ginger Ale.,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231933,8th Generation,NaN,8th Generation Confidence,"Crisp, fresh field berries mingle with a hint ...",NaN,50202203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
231934,Accademia dei Racemi,NaN,Accademia dei Racemi Burlesque Rose,"The graphic designer Marianna Greek , drew the...",NaN,50202203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
231935,Rowen Wine Company,NaN,Rowen Red Blend,ROWEN red blend is a lush and elegant wine con...,NaN,50202203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
231936,Centorri,NaN,Centorri Moscato Di Pavia,"Orange zest, clean and fresh on the nose, this...",NaN,50202203.0,NaN,Sweet-Dry Scale:Semi-Sweet Off-Dry,Body: Light,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
231937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine

In [5]:
# Neither Category
df_training_file2=pd.read_excel("AI-ML_Consolidated_Training_File.xlsx",sheet_name='Neither Category',header=0)
display(df_training_file2)

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,3M,LX500,3M LX500 Adjustable Notebook Riser Stand (Black),3M LX500 Adjustable Notebook Riser Stand (Black),NaN,43211613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
1,3M,LX550,3M LX550 Adjustable Riser/Stand for Laptop/Not...,3M LX550 Adjustable Riser/Stand for Laptop/Not...,NaN,43211613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
2,Evoluent,KBC-EVM003R,Evoluent 3 Vertical Mouse Right Hand,Evoluent 3 Vertical Mouse Right Hand,NaN,43211708,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
3,Kensington,64020,Kensington MicroSaver Laptop Lock - Keyed Diff...,Kensington MicroSaver Laptop Lock - Keyed Diff...,NaN,46171502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
4,Kensington,K64675EU,Kensington Combination Ultra Laptop Lock,Kensington Combination Ultra Laptop Lock,NaN,46171502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161446,APPLE CTO SYSTEMS,Z0U3,CTO MACBOOK 12IN 1.3G I5 16GB SYST,CTO MACBOOK 12IN 1.3G I5 16GB SYST,NaN,43210000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
161447,APPLE CTO SYSTEMS,Z0TH,CTO 21.5IN IMAC 2.3GHZ I5 16GB SYST,CTO 21.5IN IMAC 2.3GHZ I5 16GB SYST,NaN,43210000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
161448,HP INC. - NSB WORKSTATIONS,16T50US#ABA,CUSTOM Z2G4T I7-9700 16GB 512GBSYST,CUSTOM Z2G4T I7-9700 16GB 512GBSYST,NaN,43211507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
161449,APPLE EOL IPADS,MV1D2LL/A,IPAD AIR 10.5IN WIFI+CELL 256GBSYST,IPAD AIR 10.5IN WIFI+CELL 256GBSYST,NaN,43210000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN
161450,APPLE EOL IPADS,3F559LL/A,DEMO IPAD MINI 5 WIFI 64GB SYST,DEMO IPAD MINI 5 WIFI 64GB SYST,NaN,43210000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither,NaN,NaN

In [6]:
print("Shape of Training Data Consolidated : ", df_training_file1.shape)

Shape of Training Data Consolidated :  (231938, 19)

In [7]:
df_training_file1.columns

Index(['Manufacturer', 'Manufacturer Part Number', 'Item Name', 'Description',
       'Keywords', 'Category', 'Attribute 1', 'Attribute 2', 'Attribute 3',
       'Attribute 4', 'Attribute 5', 'Attribute 6', 'Attribute 7',
       'Attribute 8', 'Attribute 9', 'Attribute 10', 'Class 1', 'Class 2',
       'Class 3'],
      dtype='object')

In [8]:
print("Shape of Neither Category : ", df_training_file2.shape)

Shape of Neither Category :  (161451, 19)

In [9]:
df_training_file2.columns

Index(['Manufacturer', 'Manufacturer Part Number', 'Item Name', 'Description',
       'Keywords', 'Category', 'Attribute 1', 'Attribute 2', 'Attribute 3',
       'Attribute 4', 'Attribute 5', 'Attribute 6', 'Attribute 7',
       'Attribute 8', 'Attribute 9', 'Attribute 10', 'Class 1', 'Class 2',
       'Class 3'],
      dtype='object')

### 2.1) Creating 2 lists

In [10]:
List1=['Manufacturer','Manufacturer Part Number']
List2=['Manufacturer','Manufacturer Part Number','Marketing Information', 'Category Name','User-Manual', 'Manufacturer-Brochure']

In [11]:
print(List1)
print(List2)

['Manufacturer', 'Manufacturer Part Number']
['Manufacturer', 'Manufacturer Part Number', 'Marketing Information', 'Category Name', 'User-Manual', 'Manufacturer-Brochure']

## 3) Load the MIM data

In [12]:
%cd GFK_Data

D:\IBM_B2B_C_Onboarding\Data\GFK_Data

In [13]:
path ='D:\\IBM_B2B_C_Onboarding\Data\GFK_Data'
MIM_files = glob.glob(os.path.join(path, "*.xlsx"))
df_MIM_files=None
for file in MIM_files:
    df = pd.read_excel(file,header=0,usecols=List2)
    if df_MIM_files is None:
        df_MIM_files=df  
    else:
        df_MIM_files=pd.concat([df_MIM_files,df],axis=0, ignore_index=True)
print("Shape of MIM files : ",df_MIM_files.shape)

Shape of MIM files :  (97886, 6)

In [14]:
display(df_MIM_files)

,Manufacturer,Manufacturer Part Number,Marketing Information,Category Name,User-Manual,Manufacturer-Brochure
0,Kar's Nuts,SN08235,<p>Sunflower kernels are roasted and salted fo...,Snacks & Cookies,NaN,NaN
1,Starbucks Corporation,197861,<p>Gourmet hot cocoa is made from the highest ...,Beverages,NaN,NaN
2,"ConAgra Foods, Inc",55584,<p>Swiss Miss Hot Chocolate Mix comes in indiv...,Beverages,NaN,NaN
3,"ConAgra Foods, Inc",55280,<p>Swiss Miss Hot Chocolate Mix comes in indiv...,Beverages,NaN,NaN
4,Nestle S.A,12612,<p>Old fashioned rich creamy recipe uses the f...,Beverages,NaN,NaN
...,...,...,...,...,...,...
97881,Fiskars Corporation,1671101006,"<p>A great choice for daily detail cutting, th...",Art & Craft Kits,NaN,NaN
97882,"ArtSkills, Inc",PA-1223,<p>The Poster Knife is a great precision cutti...,Art & Craft Kits,NaN,NaN
97883,"Cricut, Inc.",2005033,You'll be all set with this TrueControl Kit&tr...,Art & Craft Kits,NaN,NaN
97884,"Cricut, Inc.",2004758,"<p>With its razor-sharp edge, piercing tip, an...",Art & Craft Kits,NaN,NaN
97885,"Canon, Inc",ECAREPACK,<p>Canon eCarePAK Extended Service Plan is a c...,Services,NaN,NaN

## 4) Perform join on MIM data and Original Training File (Training Data Consolidated)

In [15]:
df_MIM_files.columns

Index(['Manufacturer', 'Manufacturer Part Number', 'Marketing Information',
       'Category Name', 'User-Manual', 'Manufacturer-Brochure'],
      dtype='object')

In [16]:
df_training_file1.head()

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,Kim Crawford,NaN,Sauvignon Blanc,Kim Crawford produces one of Marlborough’s ben...,NaN,50202203.0,Color: Very pale yellow,Aroma: Classic Marlborough Sauvignon Blanc aro...,"Taste: A fresh, juicy wine with vibrant acidit...",New Zealand,Pairings: Pairs brilliantly with fresh oyster...,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
1,Meiomi,NaN,Meiomi Pinot Noir,Meiomi Pinot Noir Red Wine offers unique struc...,Red Wine,50202203.0,Color: Red,Style: Elegant,"Taste: Cherry, Berry, Vanilla","USA, California",NaN,ABV 14.6%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
2,Stone,NaN,Stone Hazy IPA,California- Hazy/New England-Style IPA. bloomi...,"IPA (India Pale Ale), Hazy,New England-Style IPA",50202201.0,NaN,Beer Type: Ale,NaN,"USA, California",NaN,ABV 6.7%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Beer
3,Bulleit,NaN,Bulleit Bourbon,Bulleit Bourbon is inspired by the whiskey tha...,"Bourbon, Whisky",50202206.0,NaN,Spirits Style: Small Batch Bourbon,Taste: Vanilla and honey and a long smoky finish.,"USA, Kentucky",NaN,ABV 45 %,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky
4,Jim Beam,NaN,Jim Beam Black (black label),"Jim Beam Black (black label) – ""extra aged""; w...","Bourbon, Whisky",50202206.0,Color: Amber,NaN,Taste: Charred oak flavor and caramelized sugar,American whiskey,Pairings: Ginger Ale.,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky

In [17]:
df_training_file1.head()

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,Kim Crawford,NaN,Sauvignon Blanc,Kim Crawford produces one of Marlborough’s ben...,NaN,50202203.0,Color: Very pale yellow,Aroma: Classic Marlborough Sauvignon Blanc aro...,"Taste: A fresh, juicy wine with vibrant acidit...",New Zealand,Pairings: Pairs brilliantly with fresh oyster...,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
1,Meiomi,NaN,Meiomi Pinot Noir,Meiomi Pinot Noir Red Wine offers unique struc...,Red Wine,50202203.0,Color: Red,Style: Elegant,"Taste: Cherry, Berry, Vanilla","USA, California",NaN,ABV 14.6%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Wine
2,Stone,NaN,Stone Hazy IPA,California- Hazy/New England-Style IPA. bloomi...,"IPA (India Pale Ale), Hazy,New England-Style IPA",50202201.0,NaN,Beer Type: Ale,NaN,"USA, California",NaN,ABV 6.7%,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Beer
3,Bulleit,NaN,Bulleit Bourbon,Bulleit Bourbon is inspired by the whiskey tha...,"Bourbon, Whisky",50202206.0,NaN,Spirits Style: Small Batch Bourbon,Taste: Vanilla and honey and a long smoky finish.,"USA, Kentucky",NaN,ABV 45 %,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky
4,Jim Beam,NaN,Jim Beam Black (black label),"Jim Beam Black (black label) – ""extra aged""; w...","Bourbon, Whisky",50202206.0,Color: Amber,NaN,Taste: Charred oak flavor and caramelized sugar,American whiskey,Pairings: Ginger Ale.,NaN,NaN,NaN,NaN,NaN,Restricted,Consumption Alcohol,Whisky

In [18]:
v1= df_MIM_files[(df_MIM_files['Manufacturer'] == "Kar's Nuts")][List2]
print("V1:",v1)

V1:   Manufacturer Manufacturer Part Number  \
0   Kar's Nuts                  SN08235

                               Marketing Information     Category Name  \
0  <p>Sunflower kernels are roasted and salted fo...  Snacks & Cookies

  User-Manual Manufacturer-Brochure
0         NaN                   NaN

In [19]:
# for i in range(len(df_training_file1)):
#     manufacturer_name = df_training_file1.loc[i,'Manufacturer']
#     manufacturer_part_number = df_training_file1.loc[i,'Manufacturer Part Number']
#     if (manufacturer_name != np.nan or manufacturer_part_number != np.nan):
#         v1= df_MIM_files[(df_MIM_files['Manufacturer'] == manufacturer_name) & (df_MIM_files['Manufacturer Part Number']==manufacturer_part_number)][List2]
#     elif(manufacturer_name == np.nan or manufacturer_part_number == np.nan):
#         pass

In [20]:
# for i in range(len(df_training_file1)):
#     manufacturer_name = df_training_file1.loc[i,'Manufacturer']
#     manufacturer_part_number = df_training_file1.loc[i,'Manufacturer Part Number']
#     if(manufacturer_name != np.nan or manufacturer_part_number != np.nan):
#         v1= df_MIM_files[(df_MIM_files['Manufacturer'] == manufacturer_name) & (df_MIM_files['Manufacturer Part Number']==manufacturer_part_number)][List2]
#         if (len(v1)==0):
#             continue
#         df_training_file1.loc[i,'Marketing Information'] = v1['Marketing Information'].values[0]
#         df_training_file1.loc[i,'Category Name'] = v1['Category Name'].values[0]
#         df_training_file1.loc[i,'User-Manual'] = v1['User-Manual'].values[0]
#         df_training_file1.loc[i,'Manufacturer-Brochure'] = v1['Manufacturer-Brochure'].values[0]
#     elif (manufacturer_name == np.nan or manufacturer_part_number == np.nan):
#         pass

In [21]:
print(f'Total duplicate pairs of {List1} in MIM files: {sum(df_MIM_files.duplicated(subset=List1))}')

Total duplicate pairs of ['Manufacturer', 'Manufacturer Part Number'] in MIM files: 46

In [22]:
print(f'Total rows present in Training Data Consolidated : {len(df_training_file1)}')
print(f'Total rows present in all MIM files (with duplicates) : {len(df_MIM_files)}')
merged_with_duplicates = pd.merge(df_training_file1, df_MIM_files,  how='left', on=List1)
print(f'Total rows present in merged file (keeping duplicates in MIM) : {len(merged_with_duplicates)}')

Total rows present in Training Data Consolidated : 231938
Total rows present in all MIM files (with duplicates) : 97886
Total rows present in merged file (keeping duplicates in MIM) : 232030

In [23]:
MIM_data_removed_duplicates = df_MIM_files.drop_duplicates(subset=List1)

print(f'Total rows present in Training Data Consolidated : {len(df_training_file1)}')
print(f'Total rows present in all MIM files (after removing duplicates) : {len(MIM_data_removed_duplicates)}')
merged_without_duplicates = pd.merge(df_training_file1, MIM_data_removed_duplicates,  how='left', on=List1)
print(f'Total rows present in merged file (after removing duplicates in MIM) : {len(merged_without_duplicates)}')

Total rows present in Training Data Consolidated : 231938
Total rows present in all MIM files (after removing duplicates) : 97840
Total rows present in merged file (after removing duplicates in MIM) : 231938

In [24]:
# final = df_training_file1.merge (df_MIM_files, how='left',on=List1,indicator=True)
# display(final)

In [25]:
final=merged_without_duplicates

In [26]:
df_training_file1.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,6399,68770,1,72514,23051,65,226000,218889,221583,231877,231912,231767,231927,231930,231932,231933,0,153519,205613

In [27]:
df_MIM_files.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Marketing Information,Category Name,User-Manual,Manufacturer-Brochure
0,0,0,74230,0,97675,97447

In [28]:
final.columns

Index(['Manufacturer', 'Manufacturer Part Number', 'Item Name', 'Description',
       'Keywords', 'Category', 'Attribute 1', 'Attribute 2', 'Attribute 3',
       'Attribute 4', 'Attribute 5', 'Attribute 6', 'Attribute 7',
       'Attribute 8', 'Attribute 9', 'Attribute 10', 'Class 1', 'Class 2',
       'Class 3', 'Marketing Information', 'Category Name', 'User-Manual',
       'Manufacturer-Brochure'],
      dtype='object')

In [29]:
print("Shape after join (Training Data Consolidated) : ",final.shape)

Shape after join (Training Data Consolidated) :  (231938, 23)

In [30]:
final.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,...,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3,Marketing Information,Category Name,User-Manual,Manufacturer-Brochure
0,6399,68770,1,72514,23051,65,226000,218889,221583,231877,...,231930,231932,231933,0,153519,205613,208503,134333,231728,231501

In [31]:
df_MIM_files.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Marketing Information,Category Name,User-Manual,Manufacturer-Brochure
0,0,0,74230,0,97675,97447

## 5) Perform join on MIM data and Original Training File (Neither Category)

In [32]:
df_training_file2.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,Attribute 5,Attribute 6,Attribute 7,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3
0,0,0,4,4,161451,0,161451,161451,161451,161451,161451,161451,161451,161451,161451,161451,0,161451,161451

In [33]:
print(f'Total rows present in neither category : {len(df_training_file2)}')
print(f'Total rows present in all MIM files (with duplicates) : {len(df_MIM_files)}')
merged_with_duplicates = pd.merge(df_training_file2, df_MIM_files,  how='left', on=List1)
print(f'Total rows present in merged file (keeping duplicates in MIM) : {len(merged_with_duplicates)}')

Total rows present in neither category : 161451
Total rows present in all MIM files (with duplicates) : 97886
Total rows present in merged file (keeping duplicates in MIM) : 161451

In [34]:
MIM_data_removed_duplicates1 = df_MIM_files.drop_duplicates(subset=List1)

print(f'Total rows present in neither category : {len(df_training_file2)}')
print(f'Total rows present in all MIM files (after removing duplicates) : {len(MIM_data_removed_duplicates1)}')
merged_without_duplicates1 = pd.merge(df_training_file2, MIM_data_removed_duplicates1,  how='left', on=List1)
print(f'Total rows present in merged file (after removing duplicates in MIM) : {len(merged_without_duplicates1)}')

Total rows present in neither category : 161451
Total rows present in all MIM files (after removing duplicates) : 97840
Total rows present in merged file (after removing duplicates in MIM) : 161451

In [35]:
# for i in range(len(df_training_file1)):
#     manufacturer_name = df_training_file2.loc[i,'Manufacturer']
#     manufacturer_part_number = df_training_file2.loc[i,'Manufacturer Part Number']
#     if (manufacturer_name != np.nan or manufacturer_part_number != np.nan):
#         v1= df_MIM_files[(df_MIM_files['Manufacturer'] == manufacturer_name) & (df_MIM_files['Manufacturer Part Number']==manufacturer_part_number)][List2]
#         if (len(v1)==0):
#             continue
#         df_training_file2.loc[i,'Marketing Information'] = v1['Marketing Information'].values[0]
#         df_training_file2.loc[i,'Category Name'] = v1['Category Name'].values[0]
#         df_training_file2.loc[i,'User-Manual'] = v1['User-Manual'].values[0]
#         df_training_file2.loc[i,'Manufacturer-Brochure'] = v1['Manufacturer-Brochure'].values[0]
#     elif (manufacturer_name == np.nan or manufacturer_part_number == np.nan):
#         pass

In [36]:
# final1 = df_training_file2.merge(df_MIM_files, how='left',on=List1,indicator=True).loc[lambda x : x['_merge']=='left_only']
# display(final1)

In [37]:
final1=merged_without_duplicates1

In [38]:
final1.columns

Index(['Manufacturer', 'Manufacturer Part Number', 'Item Name', 'Description',
       'Keywords', 'Category', 'Attribute 1', 'Attribute 2', 'Attribute 3',
       'Attribute 4', 'Attribute 5', 'Attribute 6', 'Attribute 7',
       'Attribute 8', 'Attribute 9', 'Attribute 10', 'Class 1', 'Class 2',
       'Class 3', 'Marketing Information', 'Category Name', 'User-Manual',
       'Manufacturer-Brochure'],
      dtype='object')

In [39]:
print("Shape after  join (Neither Category) : ",final1.shape)

Shape after  join (Neither Category) :  (161451, 23)

In [40]:
final1.isna().sum().to_frame().T

,Manufacturer,Manufacturer Part Number,Item Name,Description,Keywords,Category,Attribute 1,Attribute 2,Attribute 3,Attribute 4,...,Attribute 8,Attribute 9,Attribute 10,Class 1,Class 2,Class 3,Marketing Information,Category Name,User-Manual,Manufacturer-Brochure
0,0,0,4,4,161451,0,161451,161451,161451,161451,...,161451,161451,161451,0,161451,161451,161450,161449,161451,161451

In [41]:
final.dtypes

Manufacturer                 object
Manufacturer Part Number     object
Item Name                    object
Description                  object
Keywords                     object
Category                    float64
Attribute 1                  object
Attribute 2                  object
Attribute 3                  object
Attribute 4                  object
Attribute 5                  object
Attribute 6                  object
Attribute 7                  object
Attribute 8                  object
Attribute 9                  object
Attribute 10                 object
Class 1                      object
Class 2                      object
Class 3                      object
Marketing Information        object
Category Name                object
User-Manual                  object
Manufacturer-Brochure        object
dtype: object

In [42]:
final1.dtypes

Manufacturer                 object
Manufacturer Part Number     object
Item Name                    object
Description                  object
Keywords                    float64
Category                      int64
Attribute 1                 float64
Attribute 2                 float64
Attribute 3                 float64
Attribute 4                 float64
Attribute 5                 float64
Attribute 6                 float64
Attribute 7                 float64
Attribute 8                 float64
Attribute 9                 float64
Attribute 10                float64
Class 1                      object
Class 2                     float64
Class 3                     float64
Marketing Information        object
Category Name                object
User-Manual                  object
Manufacturer-Brochure        object
dtype: object

## 6) Save the new training file (Training Data Consolidated and Neither Category) after performing the join

In [43]:
%cd D:\IBM_B2B_C_Onboarding\Data\New_GFK_Training_Files

D:\IBM_B2B_C_Onboarding\Data\New_GFK_Training_Files

In [44]:
final.to_excel('AI-ML_Consolidated_Training_File_new.xlsx',index=0)

In [45]:
final1.to_excel('AI-ML_Consolidated_Training_File_new_neither_category.xlsx',index=0)